
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";

html{
  scroll-behavior: smooth;
}

@theme {
  --font-garamond: 'EB Garamond', serif;
  --font-karla: 'Karla', sans-serif;
  --color-primary: #4404fb;
  --color-secondary: #22D3EE;
}

.ql-editor {
  @apply text-lg leading-relaxed;
}

.ql-container {
  max-height: none;
}

.Vue-Toastification__toast--success {
  @apply bg-green-600 text-white;
}
.Vue-Toastification__toast--error {
  @apply bg-red-600 text-white;
}
.Vue-Toastification__toast--info {
  @apply bg-blue-600 text-white;
}
.Vue-Toastification__toast--warning {
  @apply bg-yellow-500 text-black;
}